{% extends "base.html" %}
{% load static %}

{% block title %}Каталог{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/catalog">Каталог</a></h1>
        </div>

        <div class="sort-block">
            Сортировать по: <a href="?sort=name"> названию  </a> | <a href="?sort=min_price"> сначала дешевые </a>
        </div>

        <div class="content">
            {% for phone in phones %}
            <h2>{{ phone.name }}</h2>
            <p>Стоимость: {{ phone.price }}</p>
            <p><a href="{{ phone.slug }}" ><img src="{{ phone.image }}" alt="{{ phone.name }}"></img></a></p>
            {% endfor %}
        </div>
    </div>
{% endblock %}